name: Lint, test & build apps in workspaces

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js v18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - run: npm ci
      - run: npm run format:check -ws --if-present
      - run: npm run lint -ws --if-present
      - run: npm test -ws --if-present
      - run: npm run build -ws --if-present
